main {
  background-color: var(--light-purple);
}

.purple-section {
  background-color: var(--purple-bg);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 6px solid var(--green);
}

.purple-section p {
  width: 80%;
}
article {
  width: 50%;
  padding-left: 118px;
  box-sizing: border-box;
}

h2 {
  color: var(--button-bg);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 15px;
}

.paragraph-white {
  color: var(--light-purple);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.more {
  padding-top: 15px;
  color: var(--button-bg);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
}

.white-section {
  padding: 60px 0;
  background-color: var(--light-purple);
  display: flex;
  flex-direction: row;
}

.white-section aside {
  box-sizing: border-box;
  width: 80%;
}

.paragraph-black {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 8px;
}

h3 {
  color: var(--purple-bg);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 20px 0 10px 0;
}

.h3-aside {
  color: var(--purple-bg);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.border {
  position: relative;
  width: 470px;
  border: 1px solid #f2e7fa;
  margin: 40px 0;
}

article .aside-article {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.footer-articles {
  max-width: 59.5%;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.footer-articles img {
  max-width: 330px;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  section .purple-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
  }

  .purple-section picture {
    display: none;
  }

  .purple-section article {
    width: fit-content;
    padding: 30px;
  }

  h2 {
    font-size: 30px;
  }

  .paragraph-white {
    display: none;
  }

  .more {
    color: var(--light-purple);
  }

  .border {
    display: none;
  }

  article {
    max-width: 370px;
    padding-left: 20px;
  }

  aside {
    margin-top: 20px;
  }

  .white-section {
    padding: 10px 0;
    background-color: var(--light-purple);
    display: flex;
    flex-direction: column;
  }

  .white-section article {
    width: fit-content;
    padding: 20px;
  }

  .white-section aside {
    width: 100%;
  }

  .white-section img {
    max-width: 330px;
  }

  article p,
  .paragraph-black {
    text-align: justify;
  }

  article .aside-article {
    width: 50%;
  }

  article p {
    text-align: justify;
  }

  .footer-main {
    display: none;
  }

  .footer-articles {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .footer-articles article {
    padding-top: 30px;
    width: 350px;
  }

  .footer-articles img {
    max-width: 330px;
  }
}
